*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#1e272e;
color:white;
}

.container{
text-align:center;
}

h1{
margin-bottom:20px;
}

#clock{
font-size:60px;
letter-spacing:3px;
background:#485460;
padding:20px 40px;
border-radius:8px;
}